<app-navbar></app-navbar>
<div class="container mt-4" style="opacity: 0.9">
    <div class="card">
        <div class="card-body">
            <span class="h3">Contratos</span>

            <!-- <h5 style="margin-top:  30px;" *ngIf="usuarios.length == 0">No hay registros para mostrar</h5> -->
            <div class="table-responsive">
                <table class="table table-striped table-hover mt-4" id="datatable">
                    <thead>
                        <tr>
                            
                            <th scope="col">Código</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Fecha Incio</th>
                            <th scope="col">Fecha Fin</th>
                            <th scope="col">Terminos Contrato</th>
                            <th scope="col" *ngIf="_admin"></th>
                            <th scope="col" *ngIf="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contrato of contratos">
                            <td>{{ contrato.Codigo }}</td>
                            <td>{{contrato.Equipo.MarcaEquipo}} - {{ contrato.Equipo.TipoEquipo}}</td>
                            <td>{{ contrato.FechaIncio | date:'dd/MM/yyyy' }}</td>
                            <td>{{ contrato.FechaFin | date:'dd/MM/yyyy' }}</td>
                            <td>{{ contrato.TerminosContrato }}</td>
                            <td *ngIf="_admin">
                                <i class="fas fa-pen fa-lg text-info mr-2"
                                    [routerLink]="['/form-update-contrato/', contrato.Id]" *ngIf="_admin"></i>
                            </td>
                            <td *ngIf="false">
                                <i (click)="eliminarContrato(contrato.id)" class="fas fa-trash-alt fa-lg text-danger" *ngIf="_admin"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-dark btn-lg" style="float: right; margin-top: 20px" routerLink="../form-contrato" *ngIf="_admin">
                Agregar
            </button>
        </div>
    </div>
</div>