<app-navbar></app-navbar>
<div class="container pt-4" style="opacity: 0.9;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{ tituloContrato }}
                        <div *ngIf="loading" class="spinner-border float-end " role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h3>
                    <span *ngIf="submitted && createContrato.invalid" class="badge bg-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                    <form class="mt-4" [formGroup]= "createContrato" (ngSubmit)="guardarContrato()">
                        
                        <!-- <label for="nombreCompleto" class="form-label" aling="rigth">Nombre Completo:</label> -->
                        <input type="text" class="form-control form-control-lg mb-4" formControlName="codigo" placeholder="Código">
                        <span
                        *ngIf="createContrato.controls.codigo.invalid && createContrato.controls.codigo.touched">
                        Código Invalido</span>

                        <select formControlName="idEquipo" class="form-control form-control-lg mt-4" >
                            <option disabled selected>Seleccione un equipo</option>
                            <option *ngFor="let _equipo of _equipos" [value]="_equipo.id">{{ _equipo.marcaEquipo}} - {{ _equipo.tipoEquipo }}</option>
                        </select>
                        <span
                        *ngIf="createContrato.controls.idEquipo.invalid && createContrato.controls.idEquipo.touched">
                        Equipo Invalido</span>

                         <input type="date" class="form-control form-control-lg mb-4" formControlName="fechaIncio" placeholder="Fecha de Inicio">
                        <span
                        *ngIf="createContrato.controls.fechaIncio.invalid && createContrato.controls.fechaIncio.touched">
                        Fecha de Inicio Invalido</span>
                        
                        <input type="date" class="form-control form-control-lg mb-4" formControlName="fechaFin" placeholder="Fecha fin">
                        <span
                        *ngIf="createContrato.controls.fechaFin.invalid && createContrato.controls.fechaFin.touched">
                        Fecha fin Invalido</span>

                        <input type="text" class="form-control form-control-lg mb-4" formControlName="terminosContrato" placeholder="Terminos del Contrato">
                        <span
                        *ngIf="createContrato.controls.terminosContrato.invalid && createContrato.controls.terminosContrato.touched">
                        Terminos del Contrato Invalido</span>

                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary btn-lg" style="margin-right: 10px;" routerLink="/contrato">Volver</button>
                            <button class="btn btn-dark btn-lg" [disabled]="!createContrato.valid">Agregar</button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>