<app-navbar></app-navbar>
<div class="container mt-4" style="opacity: 0.9">
    <div class="card">
        <div class="card-body">
            <span class="h3">Entrega o Devolucions</span>

            <!-- <h5 style="margin-top:  30px;" *ngIf="entregadevolucions.length == 0">No hay registros para mostrar</h5> -->
            <div class="table-responsive">
                <table class="table table-striped table-hover mt-4" id="datatable">
                    <thead>
                        <tr>                            
                            <th scope="col">Código</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Fecha de Inicio</th>
                            <th scope="col">Fecha fin</th>
                            <th scope="col" *ngIf="_admin"></th>
                            <th scope="col" *ngIf="_admin"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entregadevolucion of entregadevolucions">
                            <td>{{ entregadevolucion.Codigo }}</td>
                            <td>{{ entregadevolucion.Usuario.NombreCompleto }}</td>
                            <td>{{ entregadevolucion.Equipo.MarcaEquipo}} - {{ entregadevolucion.Equipo.TipoEquipo}}</td>
                            <td>{{ entregadevolucion.FechaIncio }}</td>
                            <td>{{ entregadevolucion.FechaFin }}</td>
                            <td *ngIf="_admin">
                                <i class="fas fa-pen fa-lg text-info mr-2"
                                    [routerLink]="['/form-update-entregaDevolucion/', entregadevolucion.Id]" *ngIf="_admin"></i>
                            </td>
                            <td *ngIf="_admin">
                                <i (click)="eliminarEntregaDevolucion(entregadevolucion.Id)" class="fas fa-trash-alt fa-lg text-danger" *ngIf="_admin"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-dark btn-lg" style="float: right; margin-top: 20px" routerLink="../form-entregaDevolucion" *ngIf="_admin">
                Agregar
            </button>
        </div>
    </div>
</div>