<app-navbar></app-navbar>
<div class="container pt-4" style="opacity: 0.9;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{ tituloEntregaDevolucion }}
                        <div *ngIf="loading" class="spinner-border float-end " role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h3>
                    <span *ngIf="submitted && createEntregaDevolucion.invalid" class="badge bg-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                    <form class="mt-4" [formGroup]= "createEntregaDevolucion" (ngSubmit)="guardarEntregaDevolucion()">
                        
                        <!-- <label for="nombreCompleto" class="form-label" aling="rigth">Nombre Completo:</label> -->
                        <input type="text" class="form-control form-control-lg mb-4" formControlName="codigo"
                            placeholder="Código">
                        <span
                            *ngIf="createEntregaDevolucion.controls.codigo.invalid && createEntregaDevolucion.controls.codigo.touched">
                            Código Invalido</span>

                        <select formControlName="idEquipo" class="form-control form-control-lg mt-4" >
                            <option disabled selected>Seleccione un equipo</option>
                            <option *ngFor="let _equipo of _equipos" [value]="_equipo.idEquipo">{{_equipo.MarcaEquipo}} - {{ _equipo.TipoEquipo}}</option>
                        </select>
                        <span
                        *ngIf="createEntregaDevolucion.controls.idEquipo.invalid && createEntregaDevolucion.controls.idEquipo.touched">
                        Equipo Invalido</span>

                        <select formControlName="idUsuario" class="form-control form-control-lg mt-4" >
                            <option disabled selected>Seleccione un usuario</option>
                            <option *ngFor="let _usuario of _usuarios" [value]="_usuario.idUsuario">{{_usuario.NombreCompleto}}</option>
                        </select>
                        <span
                        *ngIf="createEntregaDevolucion.controls.idUsuario.invalid && createEntregaDevolucion.controls.idUsuario.touched">
                        Equipo Invalido</span>

                        <input type="date" class="form-control form-control-lg mb-4" formControlName="fechaInicio" placeholder="Fecha de Inicio">
                        <span
                        *ngIf="createEntregaDevolucion.controls.fechaInicio.invalid && createEntregaDevolucion.controls.fechaInicio.touched">
                        Fecha de Inicio Invalido</span>
                        
                        <input type="date" class="form-control form-control-lg mb-4" formControlName="fechaFin" placeholder="Fecha fin">
                        <span
                        *ngIf="createEntregaDevolucion.controls.fechaFin.invalid && createEntregaDevolucion.controls.fechaFin.touched">
                        Fecha fin Invalido</span>

                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary btn-lg" style="margin-right: 10px;" routerLink="/entregaDevolucion">Volver</button>
                            <button class="btn btn-dark btn-lg" [disabled]="!createEntregaDevolucion.valid">Agregar</button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>