<app-navbar></app-navbar>
<div class="container mt-4" style="opacity: 0.9">
    <div class="card">
        <div class="card-body">
            <span class="h3">Usuarios</span>

            <!-- <h5 style="margin-top:  30px;" *ngIf="usuarios.length == 0">No hay registros para mostrar</h5> -->
            <div class="table-responsive">
                <table class="table table-striped table-hover mt-4" id="datatable">
                    <thead>
                        <tr>
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Celular</th>
                            <th scope="col">Rol</th>
                            <th scope="col" *ngIf="_admin"></th>
                            <th scope="col" *ngIf="_admin"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>{{ usuario.nombreCompleto }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.documento }}</td>
                            <td>{{ usuario.celular }}</td>
                            <td>{{ usuario.Rol }}</td>
                            <td *ngIf="_admin">
                                <i class="fas fa-pen fa-lg text-info mr-2"
                                    [routerLink]="['/form-update-usuario/', usuario.id]" *ngIf="_admin"></i>
                            </td>
                            <td *ngIf="_admin">
                                <i (click)="eliminarUsuario(usuario.Id)" class="fas fa-trash-alt fa-lg text-danger" *ngIf="_admin"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-dark btn-lg" style="float: right; margin-top: 20px" routerLink="../form-usuario" *ngIf="_admin">
                Agregar
            </button>
        </div>
    </div>
</div>